@charset "utf-8";

.mainSlider{
    height:690px;
    background:url(../images/main_img.jpg) no-repeat center center;
    margin:0 50px;
    color:#fff;
    text-align:center;
    position:relative;
}

.sliderTxt{
    padding-top:290px;
    font-size:20px;
}
.sliderTxt h2{
    font-size:35px;
    margin-bottom:15px;
}
.sliderTxt h2 span{
    display:block;
}

.sliderBtn{
    width:25px;
    height:45px;
    background:url(../images/sp_com.png) no-repeat -128px -61px;
    text-indent:-9999px;
    position:absolute;
    top:50%;    
    margin-top:-13px;
}
.prevBtn{left:30px;}
.nextBtn{
    background-position:-158px -61px;
    right:30px;
}
.sliderBtn a{
    display:block;
    height:100%;
}

/*mainCon01*/
.mainCon01{
    text-align:center;
    padding:50px 0;
}
.mainCon01 ul{display:inline-block;}
.mainCon01 li{
    float:left;
    margin:0 30px;
    font-size:14px;
}
.mainCon01 li a{}
.mainCon01 li span{
    width:64px;
    height:53px;
    display:block;
    background-image:url(../images/sp_com.png);
    text-indent:-9999px;
    margin-bottom:20px;
}
.con01Icon01{
    background-position:-3px -118px;
}
.con01Icon02{
    background-position:-74px -118px;
}
.con01Icon03{
    background-position:-149px -117px;
}
.con01Icon04{
    background-position:-219px -118px;
}
.con01Icon05{
    background-position:-291px -118px;
}
.con01Icon06{
    background-position:-363px -118px;
}
/*mainCon01 호버*/
.mainCon01 li:hover span{
background-position-y:-184px;
}
.mainCon01 li:hover .con01Icon03 {
        background-position-y:-183px;
}

.mainCon01 li:hover p{
    2d5b79
}
/*mainCon01 호버*/
/*mainCon02*/
.mainCon02{
    background:#DFD9D1;
    padding-bottom:50px;
}
.mainCon02 .inner{position:relative;}
.mainCon02 .sliderBtn{z-index:10}
.mainCon02 .prevBtn{left:-50px;}
.mainCon02 .nextBtn{right:-50px;}
.con02Tit{
    padding:40px 0;
    text-align:center;
}
.con02Tit h2{
    font-size:30px;
    margin-bottom:10px;
}
.con02Tit p{}

.con02Main{}

.con02Left{
    position:relative;
    float:left;
}
.con02Left img{display:block;}

.con02Txt{
    width:240px;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    background:rgba(0,0,0,0.5);
    color:#fff;
    padding:30px 15px;
    box-sizing:border-box;
}
.con02Txt h4{font-size:13px;}
.con02Txt p{
    font-size:20px;
    margin:15px 0;
}
.con02Txt span{font-weight:bold;}
.con02Txt .lastTxt{
    font-size:14px;
}

.moreBtn{
    width: 210px;
    font-size:18px;
    border:1px solid #fff;
    position:absolute;
    bottom:30px;
    text-align:center;
    line-height:40px;
}
.moreBtn a{
    color:#fff;
    display:block;
}

.con02Right{
    width:400px;
    height:430px;
    background:#fff;
    float:left;
}
.moreBtn:hover a{
    background:#fff;
    color:#333;
}

.con02List{
    padding:0 20px;
}
.con02List li{padding-top:22px;}
.con02List li a{}
.con02List li img{
    width:80px;
    vertical-align:middle;
}
.con02List li p{
    display:inline-block;
    vertical-align:middle;
    margin-left:10px;
}
.con02List li p span{
    display:block;
    font-weight:bold;
    font-size:13px;
    margin-bottom:5px;
}

/*mainCon03*/

.mainCon03{
    padding:50px;

}
.mainCon03>div{
    width:285px;
    height:285px;
    float:left;
    margin-right:20px;
    text-align:center;
    background-size:cover;
}
.mainCon03>div a{
    display:block;

}

.mainCon03>div p{
    display:none;
    height:100%;
}
/*mainCon03 호버*/


.mainCon03>div a:hover p{
    background:rgba(8,121,50,0.8);
    display:block;
    color:#fff;
}
.mainCon03>div a:hover h3{
    display:block;
}

.mainCon03>div h3{
    padding-top:100px;
}
.con03Menu01 h3, .con03Menu03 h3{color:#fff;}
.con03Menu01{background-image: url(../images/mainrow3_img1.jpg);}
.con03Menu02{background-image: url(../images/mainrow3_img2.jpg);}
.con03Menu03{background-image: url(../images/mainrow3_img3.jpg);}
.mainCon03 .con03Menu04{
    margin-right:0;
    background:#f2f0ed;
    
}
.con03Menu04 h3{padding-top:30px;}
.con03Menu4 form{padding:20px;}
.con03Menu04 select, .con03Menu04 input, .con03Menu04 button{
    border:0;
    padding:0;
    width:100%;
    height:45px;
    padding:0 10px;
    box-sizing:border-box;
    background:#fff;
}

.con03Menu04 button{
    background:#2d5b79;
    color:#fff;
    cursor:pointer;
}

.con03Menu04 select{
    font-size:12px;
    appearance:none;
    background:#fff url(../images/arrow)no-repeat 95% center;
    margin-bottom: 10px;
    margin-top:45px;
}


/*mainCon04*/

.mainCon04{margin-top:20px;}
.con04Box{
    background:#f1efec;
    width:590px;
    height:198px;
    float:left;
    margin-right:20px;
}

.con04Box h3{
    position:relative;
    text-align:center;
    color:#2b5b79;
    font-size:20px;
    line-height:60px;
    border-bottom: 1px solid #fff; 
}
.plusBtn{
    width:24px;
    height:24px;
    display:block;
    background:#fff url(../images/sp_com.png)no-repeat -199px -63px;
    text-indent: -9999px;
    border-radius: 50%;
    position:absolute;
    right:20px;
    top:20px;
}

.con04Box ul{}
.con04Box li{}
.con04Box li a{}
.con04Box li p{
    font-size:14px;
    width:100%;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.con04Box li span{
    font-size:12px;
    color:#999;
}

.noticeList{}
.noticeList li{
    width:50%;
    height:137px;
    float:left;
    border-right:1px solid #fff;
    padding:20px;
    box-sizing: border-box;
}
.noticeList li:last-child{
    border-right:0;
}
.noticeList li p{}
.noticeList li a{}
.noticeList li span{
    padding:10 0px;
    display:block;
}

.news{margin-right:0;}
.newsList{}
.newsList li{
    padding:0 20px;
    position:relative;
    line-height:45px;
    border-bottom: 1px solid #fff;
}
.newsList li:last-child{
    border-bottom:0;
}

.newsList li p{
    width:70%;
}
.newsList li a{}
.newsList li span{
    position: absolute;
    top:0;
    right:20px;}
/*mainCon04*/

/*mainCon05*/
.mainCon05{
    background:url(../images/mainrow4_bg.jpg)no-repeat center center;
    background-size:cover;
    padding:50px 0;
    margin-top:50px;
}

.con05Menu{}
.con05Menu li{
    float:left;
    margin-right:20px;
    width:285px;
    text-align:center;
    position:relative;
}
.con05Menu li:last-child{
    margin-right:0;
}
.con05Menu li a{}
.con05Menu li img{
    width:100%;
    display:block;
}

.con05Txt{
    position:absolute;
    width:100%;
    bottom:30px;
    font-size:14px;
    letter-spacing:-1px;
}
.con05Txt h2{
    letter-spacing:0;
}

/*mainCon05*/
